trigger:
  branches:
    include:
      - main

variables:
  acrName: acrecomsomyaea123.azurecr.io
  namespace: ecommerce

stages:
- stage: BuildAndPush
  displayName: Build & Push Images
  jobs:
  - job: DockerBuild
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: AzureCLI@2
      inputs:
        azureSubscription: sc-aks-acr-mi
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          az acr login --name acrecomsomyaea123

          services=("auth-service" "cart-service" "catalog-service" "order-service" "payment-service" "frontend" "gateway-service")

          for svc in "${services[@]}"; do
            docker build -t $acrName/$svc:latest ./$svc
            docker push $acrName/$svc:latest
          done

- stage: DeployToAKS
  displayName: Deploy to AKS
  dependsOn: BuildAndPush
  jobs:
  - job: Deploy
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: AzureCLI@2
      inputs:
        azureSubscription: sc-aks-acr-mi
        scriptType: bash
        scriptLocation: inlineScript
        inlineScript: |
          az aks get-credentials \
            --resource-group rg-ecommerce-arm \
            --name aks-ecommerce-eastasia \
            --overwrite-existing

          kubectl apply -f k8s/ -n ecommerce
          kubectl rollout restart deployment -n ecommerce
